
@media (max-width:780px) {
    .tap{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .nav-action{
        display: none;
    }
    .btn-nav{
        display: block;
    }
    .all-page{
        margin: 0;
        border-radius: unset;
        box-shadow: inset;
    }
    .hedear{
        border-radius: unset;
    }
    .quick-access-second{
        margin-top: 20px;
    }
    .head .h3{
        font-size: 20px;
        color: white;
    }
    .head p{
        font-size: 14px;
        font-weight: 300px;
        padding-top: 10px;
    }
    .sub-header img{
    width: 150px;
    height: 120;
    margin-right: -30px;
    margin-top: 10px;
}
.sub-header-content {
    width: 300px;
    margin-top: 20px;
    margin-left: 40px;
}
.sub-header-content h3{
    color: var(--black-color);
    font-size: 22px;
}
.sub-header-content p{
    margin-top: 5px;
    font-size: 15px;
    color: #73797D;
}
.close{
    position: absolute;  
    top: 0px;
    right: -20px;
}
    
}