
@media (max-width:780px) {
    .sidebar{
        display: none;
    }
    .nav-action {
        display: none;
    }
    .btn-nav{
        display: block;
    }
    .all-page{
        margin: 0;
        border-radius: unset;
        box-shadow: inset;
    }
    .hedear{
        border-radius: unset;
    }
}